html {
  font-family: $sans;
  font-size: 3.75vw;
  line-height: 1.5;

  @include media($smablet) {
    font-size: 12px;
  }

  @include media($medium) {
    font-size: 14px;
  }

  @include media($large) {
    font-size: 16px;
  }

  @include media($xlarge) {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;

  font-family: $sans;
  font-size: 3em;
  font-weight: 700;
  line-height: 1;


  @include media($medium) {
    font-size: 4em;
  }
}

h2 {
  font-size: 2.5em;

  @include media($medium) {
    font-size: 3em;
  }
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
  font-weight: 700;
}

h5 {
  font-size: 1.25em;
  font-weight: 700;
}

h6 {
  font-size: 1em;
  font-weight: 700;
}

h1 + p {
  font-size: 1.5em;
}

a {
  color: $blue;
  font-weight: bold;
  text-decoration: none;
  text-decoration-skip: ink;

  &:hover {
    text-decoration: underline;
  }
}
